.modal-item {
  position: fixed;
  top: 15%;
  left: 25%;
  width: 50%;
  text-align: center;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #000;
  z-index: 2;
  background-color: #fff;
  /* padding: 23px; */
}

.modal-item__header {
  background-color: #949494;
  text-align: right;
  padding: 8px;
  border-bottom: 1px solid #000;
  border-radius: 15px 15px 0 0;

}

.modal-item__header span {
  padding-right: 14px;
  cursor: pointer;
}

.modal-item__body {
  padding: 12px;
}

.fade {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1;
}


.none {
  display: none;
}